networks:
  transcendance-network:
    driver: bridge
services:
  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    networks:
      - transcendance-network
    ports:
      - '8888:443'
    volumes:
      - images-volume:/volumes/icons
    environment:
      - NGINX_DOMAIN=local.maix.me

  icons-service:
    build:
      dockerfile: ./src/icons-service/Dockerfile # dockerfile to use
      context:    .                              # the directory to use as `root` (aka the directory you get with `.`)
    container_name: icons-service
    restart: always
    networks:
      - transcendance-network
    volumes:
      - images-volume:/store
    environment:
      - USER_ICONS_STORE=/store
volumes:
  images-volume:
  sqlite-volume:
